
$baseline: 10px;


$c1: hsla(0,0%,55%,1);//#83FFE1;
$c2: #7045FF;
$c3: #C768FF;
$c4: #FFADED;

$alpha  : #10069f;
$alpha1 : #717AA1;



%paper_z1 {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .24);
};

%paper_z2 {
	box-shadow: 0 3px 10px rgba(0, 0, 0, .23);
}

%paper_z3 {
	box-shadow: 0 10px 30px rgba(0, 0, 0, .19);
}

%paper_z4 {
	box-shadow: 0 14px 45px rgba(0, 0, 0, .25);
}

%paper_z5 {
	box-shadow: 0 19px 60px rgba(0, 0, 0, .3);
}




@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}



